*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif !important;
  min-height: 100vh !important;
  position: relative !important;
}

/* navbar fixed top */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.add-padding-top {
  padding-top: 100px;
}

/* // */

.navbar.nav-bg-color {
  background-color: #000;
}

.navbar .nav-link,
.nav-link {
  color: #fff;
  text-transform: capitalize;
}

.navbar .nav-item {
  position: relative;
}

.nav-link {
  font-weight: 600;
  opacity: 0.7;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0%;
  bottom: 4px;
  opacity: 1;
}

.navbar-nav .nav-link.active {
  color: orangered;
  opacity: 1;
}

.nav-link:hover::before {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.nav-link.active::before {
  content: '';
  border-bottom: 5px;
  background-color: orangered;
  width: calc(100% - 20px);
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -4px);
  opacity: 1;
}

p.card_title {
  color: coral;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 800px;
}
p.card_title_new {
  color: coral;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  display: -webkit-box;
  -webkit-line-clamp: initial;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 1000px;
}

span.product_category {
  color: #000 !important;
  font-weight: 600;
  font-size: 18px;
}

.card_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  margin-bottom: 40px;
  border-radius: 16px;
}

span.badge {
  background-color: red;
  color: white;
}

/* spinner start */
/* .loader {
  width: 48px;
  height: 48px;
  border: 5px dotted rgb(251, 15, 15);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}    */

.style_btn{
  background-color: black;
  color: orangered;
  border:1px solid orangered;
}
.style_btn:hover{
  background-color: orangered;
  color: #fff;
}

.navbar-brand>img{
  height: 30px;
  width: 30px;
}
.navbar .navbar-brand{
  color:orangered;
  font-weight: 600
}
.loader {
  color: rgb(252, 14, 14);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  position: absolute;
  top: 28%;
  left: 50%;
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/* spinner End */




/* table form */
table.data_table {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

table.data_table>thead>tr,
table.data_table>tbody>tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0 auto;
  align-items: center;
  width: calc(100% - 30px);
  word-break: break-all;
}

table.data_table>thead>tr:not(:last-child) {
  border-bottom: 1px solid red;
}

/* grid start */
.main_parent {
  display: block;
}
/* grid end */

/* dropdown start */
.show_toggle_content {
  display: inline-block;
  background-color: #f9f9f9; 
 min-width: 120px;
 box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
 padding: 12px 16px;
 z-index: 1;
 list-style: none;
 text-align: start;
 position: relative;
 right: -110px;
 top: 20px;
 border-radius: 16px;
}
.dropdown-content {
  display: none;
}
/* dropdown end */


/* foooter style start */
footer.footer-style {
  position: absolute !important;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  background-color: #000;
  padding: 50px;
  color: white
}

/* foooter style End */

.add-padding-bottom {
  padding-top: min(250px);
  padding-bottom: min(420px);
}

.data_table {
 width: 1300px !important;
 margin-bottom: 16px;
}
.form-background{box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); padding: 20px; max-width:500px ;margin: auto;}
.error_msg{
  color: red;
  font-weight: 500;
}
#formId .form-control ~ span{
  color: red;
  display: none;
}
#formId .form-control:invalid[focused="true"] ~ span{
  display: block;
}

.box_shadow{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 16px;
  margin-bottom: 40px;
  border-radius: 16px;
}
.data_table tbody::-webkit-scrollbar {
  width: 12px !important;
  height: auto !important;
}
.data_table tbody::-webkit-scrollbar-thumb {
  background: #0d6efd !important;
  border-radius: 6px;
}
@media (max-width:1440px) {
  .table_parent {
    overflow: auto;
  }
}

@media (max-width:992px) {
  .nav-link.active::before {
    width: 100%;
  }

  .nav-link:hover::before {
    width: 100%;
  }
}

/* min-width 767px */

@media (min-width:767px) {
  .add-padding-bottom {
    padding-top: min(24px);
    padding-bottom: 300px;
  }
  .main_parent {
    display: grid;
    grid-template-columns: 135px auto;
  }
  .loader.newapi{
    top: 70px !important;
  }
}

@media (max-width:576px){
  .show_toggle_content {
    right: -50px;
}
}